.button {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.7rem 1.1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.button:hover{
    transition: 0.3s;
}

.button-primary {
    color: #ffffff;
    background-color: #0969DA;
    -webkit-box-shadow:0 4px 9px -4px #0969DA;
    -moz-box-shadow: 0 4px 9px -4px #0969DA;
    box-shadow: 0 4px 9px -4px #0969DA;
}

.button-primary:hover {
    background-color: #0557b4;
    color: white;
}

.button-secondary {
    color: #2851AC;
    background-color: #E3EBF7;
}

.button-secondary:hover {
    color: #2851AC;
    background-color: #d4dbe5;
}

.button-success {
    color: #fff;
    border: 1px solid #2A9048;
    background-color: #2da44e;
}

.button-success:hover {
    background-color: #299347;
    color: white;
}

.button-inactive {
    color: #6F6F6F;

    background-color: #f4f3f3;
}

.button-inactive:hover {
    background-color: #F7F7F7;
    color: #6F6F6F;
}