.button {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.7rem 1.1rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.button:hover{
    transition: 0.3s;
}

.button-primary {
    color: #ffffff;
    background-color: #3479f1;
    -webkit-box-shadow:0 4px 9px -4px #3479f1;
    -moz-box-shadow: 0 4px 9px -4px #3479f1;
    box-shadow: 0 4px 9px -4px #3479f1;
}

.button-primary:hover {
    background-color: #2c6ede;
}

.button-secondary {
    color: #2851AC;
    background-color: #E3EBF7;
}

.button-secondary:hover {
    background-color: #d4dbe5;
}