.form-control input, .form-control select{
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    margin:0;
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
}

.form-control input{
    padding: 0.4rem 0.7rem;
}

.form-control select{
    padding: 0.4rem 0.5rem;
}

.form-control input:focus, .form-control select:focus{
    outline: none;
    border: 1px solid #727272;
    transition: all .25s linear;

}

.form-control label{
    display: block;
    margin-bottom: 0.5rem;
}

